<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="assets/css/main.css" />
    <style>
        div.scrollup {
            position: fixed; /* фиксированная позиция */
            color: #fff; /* цвет текста */
            background-color: #286090; /* цвет заднего фона */
            right: 20px; /* расстояние от правого края */
            bottom: 0px; /* расстояние от нижнего края */
            padding: 4px 10px; /* отступы до содержимого блока */
            font-size: 20px; /* размер шрифта (иконки) */
            border-top-left-radius: 4px; /* скругление верхнего левого угла */
            border-top-right-radius: 4px; /* скругление верхнего правого угла */
            cursor: pointer; /* форма курсора */
            display: none; /* не отображать элемент */
            text-align: center; /*выравнивание содержимого элемента по центру */
        }

            div.scrollup:hover {
                background-color: #000; /* цвет заднего фона при наведении */
            }
    </style>
</head>
<body>
    <body class="homepage is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <section id="header">

                <!-- Logo -->
                <img src="~/images/gifka.gif" style="width:30%" />

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="#intro">Developers</a></li>
                        <li><a href="#main">Store</a></li>
                        <li><a href="#footer">Contacts</a></li>
                    </ul>
                </nav>

                <!-- Banner -->
                <section id="banner">
                    <header>
                        <h2>Buy FREE for MONEY.</h2>
                        <p>The most unusual games store!</p>
                    </header>
                </section>
                <!-- Intro -->
                <section id="intro" class="container" style="font-size: 110%; color: white">
                    <div class="row">
                        <div class="col-4 col-12-medium">
                            <section class="first">
                                <img src="~/images/Developers/nastya.jpg" width="300" height="400" />
                                <header style="font-size: 130%; color: white; padding-top:5%;">
                                    <h2>Moria Anastasiia</h2>
                                </header>
                                <p>Web-designer</p>
                            </section>
                        </div>
                        <div class="col-4 col-12-medium">
                            <section class="middle">
                                <img src="~/images/Developers/vanya.jpg" width="300" height="400" />
                                <header style="font-size: 130%; color: white; padding-top:5%;">
                                    <h2>Shvets Ivan</h2>
                                </header>
                                <p>Web Programmer</p>
                            </section>
                        </div>
                        <div class="col-4 col-12-medium">
                            <section class="last">
                                <img src="~/images/Developers/oleg.jpg" width="300" height="400" />
                                <header style="font-size: 130%; color: white; padding-top:5%;">
                                    <h2>Oleg Petrov</h2>
                                </header>
                                <p>Web Designer</p>
                            </section>
                        </div>
                    </div>
                </section>

            </section>

            <!-- Main -->
            <section id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <!-- Portfolio -->
                            <section>
                                <header class="major">
                                    <h2>Our Games</h2>
                                </header>
                                <p style="">
                                    @Html.ActionLink("Create New", "Create", null, new { @style = " border-radius: 5px; padding: 5px; background: #d52349; color: #fff !important; text-align: center; display: block; position:relative; left:50%; transform: translate(-50%, 0); width:10%" })
                                </p>
                                @using (Html.BeginForm("Index", "Game", FormMethod.Get))
                                {
                                    <p>
                                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Find here..." })
                                        <input type="submit" value="Search" />
                                    </p>
                                }
                                <div class="row">
                                    @RenderBody()
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer -->
            <section id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-8 col-12-medium">
                            <section>
                                <header>
                                    <h2>Coming soon!</h2>
                                </header>
                                <ul class="dates">
                                    <li>
                                        <span class="date">Oct <strong>2021</strong></span>
                                        <h3>Metro 4</h3>
                                    </li>
                                    <li>
                                        <span class="date">Sep <strong>2021</strong></span>
                                        <h3>GTA 6</h3>
                                    </li>
                                    <li>
                                        <span class="date">Dec <strong>2021</strong></span>
                                        <h3>Diablo 4</h3>
                                    </li>
                                    <li>
                                        <span class="date">Jan <strong>2022</strong></span>
                                        <h3>Titanfall 3</h3>
                                    </li>
                                    <li>
                                        <span class="date">Feb <strong>2022</strong></span>
                                        <h3>Dead Space 4</h3>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-4 col-12-medium">
                            <section>
                                <header>
                                    <h2>Contact Us:</h2>
                                </header>
                                <ul class="social">
                                    <li><a class="icon brands fa-facebook-f" href="https://www.facebook.com/groups/programming.jokes"><span class="label">Facebook</span></a></li>
                                    <li><a class="icon brands fa-twitter" href="https://twitter.com/ProgrammersJ"><span class="label">Twitter</span></a></li>
                                    <li><a class="icon brands fa-tumblr" href="https://www.tumblr.com/blog/view/programmer-jokes"><span class="label">Tumblr</span></a></li>
                                    <li><a class="icon brands fa-linkedin-in" href="https://www.linkedin.com/business/talent/blog#james"><span class="label">LinkedIn</span></a></li>
                                </ul>
                                <ul class="contact">
                                    <li>
                                        <h3>Address</h3>
                                        <p>
                                            «KhPI Centre»<br />
                                            13, Bagalia str.,<br />
                                            61000, Kharkiv, Ukraine
                                        </p>
                                    </li>
                                    <li>
                                        <h3>Mail</h3>
                                        <p>FreeforMoneyShop@gmail.com</p>
                                    </li>
                                    <li>
                                        <h3>Phone</h3>
                                        <p>(880) 555-3535</p>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-12">

                            <!-- Copyright -->
                            <div id="copyright">
                                <ul class="links">
                                    <li>&copy; Free For Money. All rights reserved.</li>
                                    
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <div id="up" style="position:fixed;float:right; right:50px; top: 50px;"> <img src="../images/up.png" style="width:75px;"></div>
        </div>
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) { $('#up').fadeIn(); }
                    else { $('#up').fadeOut(); }
                });
                $('#up').click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 700);
                });
            });
        </script>
        <script>
            const smoothLinks = document.querySelectorAll('a[href^="#"]');
            for (let smoothLink of smoothLinks) {
                smoothLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    const id = smoothLink.getAttribute('href');

                    document.querySelector(id).scrollIntoView({
                        behavior: 'smooth',
                        block: 'start'
                    });
                });
            };
            
        </script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>